.mat-form-field {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.form-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-title-actions {
    display: flex;
    flex-direction: row;
}

.form-toolbar .mat-dialog-title {
    margin-top: 6px;
}