<mat-toolbar>
    <span>Angular CRUD User App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon person_add-icon" aria-label="Example icon-button with person_add icon"
        matTooltip="Add New User" (click)="openAddUserFormInDialog()">
        <mat-icon>person_add</mat-icon>
    </button>
</mat-toolbar>

<app-table *ngIf="this.usersTableConfig" [tableConfig]="this.usersTableConfig" (editClicked)="editUser($event)"
    (deleteClicked)="deleteUser($event)">
</app-table>